<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springbootdemo.mapper.worker.WorkerMapper">


    <select id="selectWorkerById" parameterType="String" resultType="com.example.springbootdemo.bean.WorkerBean">
        select worker_id, worker_name, worker_gender, worker_age, worker_tel, depart_name
        from worker left join department on worker.worker_depart_id=department.depart_id where worker_id=#{worker_id}
    </select>

    <select id="selectAllFromWorkers" resultType="com.example.springbootdemo.bean.WorkerBean">
        select worker_id, worker_name, worker_gender, worker_age, worker_tel, depart_name
        from worker join department on worker.worker_depart_id=department.depart_id
    </select>

    <select id="selectDailyAttendanceById" parameterType="String" resultType="com.example.springbootdemo.bean.AttendanceBean">
        select * from attendance, worker where worker_id=#{worker_id} and attendance_date=#{date}
    </select>

    <select id="selectLastAttendanceId" resultType="String">
        select attendance_id from attendance
        where attendance_date=(select max(attendance_date) from attendance)
        order by attendance_time desc limit 1
    </select>

    <select id="selectLastAttendanceByWorkerId" parameterType="String" resultType="com.example.springbootdemo.bean.AttendanceBean">
        select * from attendance, worker
                 where attendance.worker_id=worker.worker_id
                   and attendance_date=(select max(attendance_date) from attendance where attendance.worker_id=#{worker_id})
                    and attendance.worker_id=#{worker_id} order by attendance_time desc limit 1
    </select>


    <select id="selectSignInTimeByWorkerId" parameterType="String" resultType="java.sql.Time">
        SELECT
    </select>


    <insert id="insertIntoAttendance" parameterType="String">
        insert into Attendance values (#{attendance_id}, #{worker_id}, #{date}, #{time}, #{type}, #{status})
    </insert>





</mapper>